In [1]:
import pandas as pd

In [2]:
def dat_to_csv_converter(dat_file_path):
    # Step 1: Read the .dat file using pandas
    # Assume .dat file is comma seperated
    try:
        data = pd.read_csv(dat_file_path, delimiter=',')
        csv_file_path = dat_file_path[:-4] + ".csv"
        # Step 3: Write the data to a .csv file
        data.to_csv(csv_file_path, index=False)  # Set index=False to omit row indices in the CSV
        return csv_file_path
    except Exception as e:
        print(e)

base_file_path = '../raw_data/'

final_dataframes = []

In [3]:
final_cols = [
'schoolcode',
 'year',
 'charter',
 'mathpass',
 'schoolmode',
 'virtualper',
 'hybridper',
 'totaltested',
 'lowincome',
 'white',
 'black',
 'hispanic',
 'asian',
      ]

def final_data_generator(csv_file_path, year):
    raw_dataframe = pd.read_csv(csv_file_path)

    working_dataframe = raw_dataframe.copy()
    working_dataframe['year'] = year
    # working_dataframe['schoolcode'] = working_dataframe['CAMPUS']
    # working_dataframe['district'] = working_dataframe['DISTRICT']
    working_dataframe['totaltested'] = working_dataframe['a1_all_d'] 
    working_dataframe['asian'] = working_dataframe['a1_etha_d']
    working_dataframe['black'] = working_dataframe['a1_ethb_d']
    working_dataframe['white'] = working_dataframe['a1_ethw_d']
    working_dataframe['hispanic'] = working_dataframe['a1_ethh_d']
    working_dataframe['lowincome'] = working_dataframe['a1_eco2_d'] + working_dataframe['a1_eco1_d']
    # working_dataframe['mathpass'] = working_dataframe['a1_all_meetsgl_nm']

    working_dataframe['asian'] /= working_dataframe['totaltested']
    working_dataframe['black'] /= working_dataframe['totaltested']
    working_dataframe['white'] /= working_dataframe['totaltested']
    working_dataframe['hispanic'] /= working_dataframe['totaltested']

    final_dataframe = working_dataframe
    
    if 'CAMPUS' in working_dataframe:
        print(f"Year {year} has this vria")

    return final_dataframe

In [4]:
# generate csv data from dat files
for year in range(2015, 2023):
    if year == 2020: continue
    current_file_path = base_file_path + "texas_math_" + str(year) + ".dat"
    final_csv_path = dat_to_csv_converter(current_file_path)
    final_dataframes.append(final_data_generator(final_csv_path, year))

final_dataframe = pd.concat(final_dataframes)
final_dataframe.head(20)

Year 2015 is done
Year 2016 is done
Year 2017 is done
Year 2018 is done
Year 2019 is done
Year 2021 is done
Year 2022 is done

,CAMPUS,YEAR,REGION,DISTRICT,DNAME,CNAME,a1_all_docs_n,a1_all_abs_n,a1_all_oth_n,a1_all_d,...,a1_lepe_pct_cat1,a1_lepe_avg_cat2,a1_lepe_pct_cat2,a1_lepe_avg_cat3,a1_lepe_pct_cat3,a1_lepe_avg_cat4,a1_lepe_pct_cat4,a1_lepe_avg_cat5,a1_lepe_pct_cat5,a1_atrv_pct_cat5
0,1902001.0,15.0,7.0,1902.0,CAYUGA ISD,CAYUGA H S,45,0,0,45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1903001.0,15.0,7.0,1903.0,ELKHART ISD,ELKHART H S,71,0,0,71,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1903041.0,15.0,7.0,1903.0,ELKHART ISD,ELKHART MIDDLE,23,0,0,23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1904001.0,15.0,7.0,1904.0,FRANKSTON ISD,FRANKSTON H S,52,0,0,52,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1906002.0,15.0,7.0,1906.0,NECHES ISD,NECHES H S,27,0,0,27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1907001.0,15.0,7.0,1907.0,PALESTINE ISD,PALESTINE H S,233,0,3,230,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1908002.0,15.0,7.0,1908.0,WESTWOOD ISD,WESTWOOD H S,79,0,0,79,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1908041.0,15.0,7.0,1908.0,WESTWOOD ISD,WESTWOOD J H,26,0,0,26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1909001.0,15.0,7.0,1909.0,SLOCUM ISD,SLOCUM H S,23,0,0,23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2901001.0,15.0,18.0,2901.0,ANDREWS ISD,ANDREWS H S,276,2,0,274,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2901002.0,15.0,18.0,2901.0,ANDREWS ISD,ANDREWS EDUCATI,3,0,0,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,3801001.0,15.0,7.0,3801.0,PINEYWOODS COMM,PINEYWOODS COMM,52,0,0,52,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,3902001.0,15.0,7.0,3902.0,HUDSON ISD,HUDSON H S,148,3,1,144,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,3902004.0,15.0,7.0,3902.0,HUDSON ISD,STUBBLEFIELD LR,1,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,3902041.0,15.0,7.0,3902.0,HUDSON ISD,HUDSON MIDDLE,47,0,0,47,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,3903001.0,15.0,7.0,3903.0,LUFKIN ISD,LUFKIN H S,486,4,0,482,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,3903004.0,15.0,7.0,3903.0,LUFKIN ISD,STUBBLEFIELD LR,1,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,3903044.0,15.0,7.0,3903.0,LUFKIN ISD,LUFKIN MIDDLE,60,0,0,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,3904001.0,15.0,7.0,3904.0,HUNTINGTON ISD,HUNTINGTON H S,147,0,0,147,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,3904005.0,15.0,7.0,3904.0,HUNTINGTON ISD,PRIDE ALTER SCH,7,0,0,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN