# Import Libraries

In [1]:
import pandas as pd
import numpy as np
from meza import io
import os

# Import Data

In [25]:
import pandas_access as mdb

# Define your .mdb file
import pyodbc
import pandas as pd

# Create a connection string
conn_str = (
    r'DRIVER={Microsoft Access Driver (*.mdb, *.accdb)};'
    r'DBQ=../SRC2022/SRC2022_GroupIV.mdb;'
)

# Create a connection
conn = pyodbc.connect(conn_str)

# List all tables in the database
tables = list(map(lambda t: t.table_name, conn.cursor().tables(tableType='TABLE')))

# Print all table names
print(f"All tables: {tables}")

# Initialize an empty dictionary to hold your dataframes
dataframes = {}

# Try to read each table one by one
for table in tables:
    print(f"Attempting to read table: {table}")
    try:
        df = pd.read_sql(f'SELECT * FROM {table}', conn)
        dataframes[table] = df
        print(f"Successfully read table: {table}")
    except Exception as e:
        print(f"Failed to read table: {table}")
        print(f"Error: {e}")

# Close connection
conn.close()

Error: ('01000', "[01000] [unixODBC][Driver Manager]Can't open lib 'Microsoft Access Driver (*.mdb, *.accdb)' : file not found (0) (SQLDriverConnect)")

In [3]:
data18 = pd.read_excel("2018-Report-Card-Public-Data-Set.xlsx", sheet_name="General",thousands=',')

In [4]:
pd.set_option('display.max_columns', None)

In [5]:
data18

,RCDTS,Type,School Name,District,City,County,District Type,District Size,School Type,Grades Served,Summative Designation,State Senate District,State Representative District,Student Enrollment - Total,Student Enrollment - White %,Student Enrollment - Black or African American %,Student Enrollment - Hispanic or Latino %,Student Enrollment - Asian %,Student Enrollment - Native Hawaiian or Other Pacific Islander %,Student Enrollment - American Indian or Alaska Native %,Student Enrollment - Two or More Races %,Student Enrollment - EL %,Student Enrollment - IEP %,Student Enrollment - Low Income %,Student Enrollment - Homeless %,Total Number of School Days,Student Attendance Rate,Student Attendance Rate - Male,Student Attendance Rate - Female,Student Attendance Rate - White,Student Attendance Rate - Black or African American,Student Attendance Rate - Hispanic or Latino,Student Attendance Rate - Asian,Student Attendance Rate - Native Hawaiian or Other Pacific Islander,Student Attendance Rate - American Indian or Alaska Native,Student Attendance Rate - Two or More Races,Student Attendance Rate - EL,Student Mobility Rate,Student Mobility Rate - Male,Student Mobility Rate - Female,Student Mobility Rate - White,Student Mobility Rate - Black or African American,Student Mobility Rate - Hispanic or Latino,Student Mobility Rate - Asian,Student Mobility Rate - Native Hawaiian or Other Pacific Islander,Student Mobility Rate - American Indian or Alaska Native,Student Mobility Rate - Two or More Races,Student Mobility Rate - EL,Student Mobility Rate - IEP,Student Mobility Rate - Low Income,Chronically Truant Students,Student Chronic Truancy Rate,High School Dropout Rate - Total,High School Dropout Rate - Male,High School Dropout Rate - Female,High School Dropout Rate - White,High School Dropout Rate - Black or African American,High School Dropout Rate - Hispanic or Latino,High School Dropout Rate - Asian,High School Dropout Rate - Native Hawaiian or Other Pacific Islander,High School Dropout Rate - American Indian or Alaska Native,High School Dropout Rate - Two or More Races,High School Dropout Rate - EL,High School Dropout Rate - IEP,High School Dropout Rate - Low Income,High School 4-Year Graduation Rate - Total,High School 4-Year Graduation Rate - Male,High School 4-Year Graduation Rate - Female,High School 4-Year Graduation Rate - White,High School 4-Year Graduation Rate - Black or African American,High School 4-Year Graduation Rate - Hispanic or Latino,High School 4-Year Graduation Rate - Asian,High School 4-Year Graduation Rate - Native Hawaiian or Other Pacific Islander,High School 4-Year Graduation Rate - American Indian or Alaska Native,High School 4-Year Graduation Rate - Two or More Races,High School 4-Year Graduation Rate - EL,High School 4-Year Graduation Rate - Children with Disabilities,High School 4-Year Graduation Rate - Low Income,High School 5-Year Graduation Rate - Total,High School 5-Year Graduation Rate - Male,High School 5-Year Graduation Rate - Female,High School 5-Year Graduation Rate - White,High School 5-Year Graduation Rate - Black or African American,High School 5-Year Graduation Rate - Hispanic or Latino,High School 5-Year Graduation Rate - Asian,High School 5-Year Graduation Rate - Native Hawaiian or Other Pacific Islander,High School 5-Year Graduation Rate - American Indian or Alaska Native,High School 5-Year Graduation Rate - Two or More Races,High School 5-Year Graduation Rate - EL,High School 5-Year Graduation Rate - Children with Disabilities,High School 5-Year Graduation Rate - Low Income,High School 6-Year Graduation Rate - Total,High School 6-Year Graduation Rate - Male,High School 6-Year Graduation Rate - Female,High School 6-Year Graduation Rate - White,High School 6-Year Graduation Rate - Black or African American,High School 6-Year Graduation Rate - Hispanic or Latino,High School 6-Year Graduation Rate - Asian,High School 6-Year Graduation Rate - Native Hawaiian or Other Pacific Islander,High School 6-Year Graduation Rate - American Indian or Alaska Native,High School 6-Year Graduation Rate - Two or More Races,High School 6-Year Graduation Rate - EL,High School 6-Year Graduation Rate - Children with Disabilities,High School 6-Year Graduation Rate - Low Income,Avg Class Size - Kindergarten,Avg Class Size - 1,Avg Class Size - 2,Avg Class Size - 3,Avg Class Size - 4,Avg Class Size - 5,Avg Class Size - 6,Avg Class Size - 7,Avg Class Size - 8,Avg Class Size - High School,Avg Class Size – All Grades,Min per Day Math Grade 3,Min per Day Math Grade 6,Min per Day Math Grade 8,Min per Day Scieince Grade 3,Min per Day Scieince Grade 6,Min per Day Scieince Grade 8,Min per Day English Grade 3,Min per Day English Grade 6,Min per Day English Grade 8,Min per Day social sciences Grade 3,Min per Day social sciences Grade 6,Min per Day social sciences Grade 8,Avg Number of days of Physical Education Per Week Per Student,% of Teachers - White,% of Teachers - Black or African American,% of Teachers - Hispanic or Latino,% of Teachers - Asian,% of Teachers - Native Hawaiian or Other Pacific Islander,% of Teachers - American Indian or Alaska Native,% of Teachers - Two or More Races,% of Teachers - Unknown,% of Teachers - Male,% of Teachers - Female,Total Teacher FTE,Avg Teaching Exp,Avg Teaching Exp - High Poverty,Avg Teaching Exp - Low Poverty,Bachelor Degree,Bachelor Degree - High Poverty,Bachelor Degree - Low Poverty,Masters Degree,Masters Degree - High Poverty,Masters Degree - Low Poverty,Pupil Teacher Ratio - Elementary,Pupil Teacher Ratio - High School,Pupil Certified Staff Ratio,Pupil Admin Ratio,Teacher Avg Salary,Admin Avg Salary,Teacher Retention Rate,Principal Turnover within 6 Years,Teacher Attendace Rate,Teacher Evaluation Rate,% Graduates enrolled in Post Secondary Institution within 16 months,% Graduates enrolled in Post Secondary Institution within 12 months,%8th Grade passing Algebra 1,# of CTE Enrollment,# of 10 graders who took advanced Courses,# of 11 graders who took advanced Courses,# of 12 graders who took advanced Courses,Novice Teachers - High Poverty Schools,Novice Teachers - Low Poverty Schools,Teachers with Short-Term or Provisional License - High Poverty Schools,Teachers with Short-Term or Provisional License - Low Poverty Schools,Community College Remediation %,Community College Remediation Reading %,Community College Remediation Math %,Community College Remediation Communication,9th Grade on Track,9th Grade on Track - White,9th Grade on Track - Black or African American,9th Grade on Track - Hispanic or Latino,9th Grade on Track - Asian,9th Grade on Track - Native Hawaiian or Other Pacific Islander,9th Grade on Track - American Indian or Alaska Native,9th Grade on Track - Two or More Races,9th Grade on Track - IEP,9th Grade on Track - EL,9th Grade on Track - Low Income,Chronic Absenteeism,Chronic Absenteeism - White,Chronic Absenteeism - Black or African American,Chronic Absenteeism - Hispanic or Latino,Chronic Absenteeism - Asian,Chronic Absenteeism - Native Hawaiian or Other Pacific Islander,Chronic Absenteeism - American Indian or Alaska Native,Chronic Absenteeism - Two or More Races,Chronic Absenteeism - IEP,Chronic Absenteeism - EL,Chronic Absenteeism - Low Income,Number of Students who took AP classes Grade 9 Total,Number White of Students who took AP classes Grade 9 Total,Number Black or African American of Students who took AP classes Grade 9 Total,Number Hispanic or Latino of Students who took AP classes Grade 9 Total,Number Asian of Students who took AP classes Grade 9 Total,Number Native Hawaiian or Other Pacific Islander of Students who took AP classes Grade 9 Total,Number American Indian or Alaska Native of Students who took AP classes Grade 9 Total,Number Two or More Races of Students who took AP classes Grade 9 Total,Number EL of Students who took AP classes Grade 9 Total,Number Non-EL of Students who took AP classes Grade 9 Total,Number IEP of Students who took AP classes Grade 9 Total,Number Non-IEP of Students who took AP classes Grade 9 Total,Number Low Income of Students who took AP classes Grade 9 Total,Number Non-Low Income of Students who took AP classes Grade 9 Total,Number of Students who took AP classes Grade 10 Total,Number White of Students who took AP classes Grade 10 Total,Number Black or African American of Students who took AP classes Grade 10 Total,Number Hispanic or Latino of Students who took AP classes Grade 10 Total,Number Asian of Students who took AP classes Grade 10 Total,Number Native Hawaiian or Other Pacific Islander of Students who took AP classes Grade 10 Total,Number American Indian or Alaska Native of Students who took AP classes Grade 10 Total,Number Two or More Races of Students who took AP classes Grade 10 Total,Number EL of Students who took AP classes Grade 10 Total,Number Non-EL of Students who took AP classes Grade 10 Total,Number IEP of Students who took AP classes Grade 10 Total,Number Non-IEP of Students who took AP classes Grade 10 Total,Number Low Income of Students who took AP classes Grade 10 Total,Number Non-Low Income of Students who took AP classes Grade 10 Total,Number of Students who took AP classes Grade 11 Total,Number White of Students who took AP classes Grade 11 Total,Number Black or African American of Students who took AP classes Grade 11 Total,Number Hispanic or Latino of Students who took AP classes Grade 11 Total,Number Asian of Students who took AP classes Grade 11 Total,Number Native Hawaiian or Other Pacific Islander of Students who took AP classes Grade 11 Total,Number American Indian or Alaska Native of Students who took AP classes Grade 11 Total,Number Two or More Races of Students who took AP classes Grade 11 Total,Number EL of Students who took AP classes Grade 11 Total,Number Non-EL of Students who took AP classes Grade 11 Total,Number IEP of Students who took AP classes Grade 11 Total,Number Non-IEP of Students who took AP classes Grade 11 Total,Number Low Income of Students who took AP classes Grade 11 Total,Number Non-Low Income of Students who took AP classes Grade 11 Total,Number of Students who took AP classes Grade 12 Total,Number White of Students who took AP classes Grade 12 Total,Number Black or African American of Students who took AP classes Grade 12 Total,Number Hispanic or Latino of Students who took AP classes Grade 12 Total,Number Asian of Students who took AP classes Grade 12 Total,Number Native Hawaiian or Other Pacific Islander of Students who took AP classes Grade 12 Total,Number American Indian or Alaska Native of Students who took AP classes Grade 12 Total,Number Two or More Races of Students who took AP classes Grade 12 Total,Number EL of Students who took AP classes Grade 12 Total,Number Non-EL of Students who took AP classes Grade 12 Total,Number IEP of Students who took AP classes Grade 12 Total,Number Non-IEP of Students who took AP classes Grade 12 Total,Number Low Income of Students who took AP classes Grade 12 Total,Number Non-Low Income of Students who took AP classes Grade 12 Total,Number of Students who took IB classes Grade 9 Total,Number White of Students who took IB classes Grade 9 Total,Number Black or African American of Students who took IB classes Grade 9 Total,Number Hispanic or Latino of Students who took IB classes Grade 9 Total,Number Asian of Students who took IB classes Grade 9 Total,Number Native Hawaiian or Other Pacific Islander of Students who took IB classes Grade 9 Total,Number American Indian or Alaska Native of Students who took IB classes Grade 9 Total,Number Two or More Races of Students who took IB classes Grade 9 Total,Number EL of Students who took IB classes Grade 9 Total,Number Non-EL of Students who took IB classes Grade 9 Total,Number IEP of Students who took IB classes Grade 9 Total,Number Non-IEP of Students who took IB classes Grade 9 Total,Number Low Income of Students who took IB classes Grade 9 Total,Number Non-Low Income of Students who took IB classes Grade 9 Total,Number of Students who took IB classes Grade 10 Total,Number White of Students who took IB classes Grade 10 Total,Number Black or African American of Students who took IB classes Grade 10 Total,Number Hispanic or Latino of Students who took IB classes Grade 10 Total,Number Asian of Students who took IB classes Grade 10 Total,Number Native Hawaiian or Other Pacific Islander of Students who took IB classes Grade 10 Total,Number American Indian or Alaska Native of Students who took IB classes Grade 10 Total,Number Two or More Races of Students who took IB classes Grade 10 Total,Number EL of Students who took IB classes Grade 10 Total,Number Non-EL of Students who took IB classes Grade 10 Total,Number IEP of Students who took IB classes Grade 10 Total,Number Non-IEP of Students who took IB classes Grade 10 Total,Number Low Income of Students who took IB classes Grade 10 Total,Number Non-Low Income of Students who took IB classes Grade 10 Total,Number of Students who took IB classes Grade 11 Total,Number White of Students who took IB classes Grade 11 Total,Number Black or African American of Students who took IB classes Grade 11 Total,Number Hispanic or Latino of Students who took IB classes Grade 11 Total,Number Asian of Students who took IB classes Grade 11 Total,Number Native Hawaiian or Other Pacific Islander of Students who took IB classes Grade 11 Total,Number American Indian or Alaska Native of Students who took IB classes Grade 11 Total,Number Two or More Races of Students who took IB classes Grade 11 Total,Number EL of Students who took IB classes Grade 11 Total,Number Non-EL of Students who took IB classes Grade 11 Total,Number IEP of Students who took IB classes Grade 11 Total,Number Non-IEP of Students who took IB classes Grade 11 Total,Number Low Income of Students who took IB classes Grade 11 Total,Number Non-Low Income of Students who took IB classes Grade 11 Total,Number of Students who took IB classes Grade 12 Total,Number White of Students who took IB classes Grade 12 Total,Number Black or African American of Students who took IB classes Grade 12 Total,Number Hispanic or Latino of Students who took IB classes Grade 12 Total,Number Asian of Students who took IB classes Grade 12 Total,Number Native Hawaiian or Other Pacific Islander of Students who took IB classes Grade 12 Total,Number American Indian or Alaska Native of Students who took IB classes Grade 12 Total,Number Two or More Races of Students who took IB classes Grade 12 Total,Number EL of Students who took IB classes Grade 12 Total,Number Non-EL of Students who took IB classes Grade 12 Total,Number IEP of Students who took IB classes Grade 12 Total,Number Non-IEP of Students who took IB classes Grade 12 Total,Number Low Income of Students who took IB classes Grade 12 Total,Number Non-Low Income of Students who took IB classes Grade 12 Total,Number of Students who took Dual Credit classes Grade 9 Total,Number White of Students who took Dual Credit classes Grade 9 Total,Number Black or African American of Students who took Dual Credit classes Grade 9 Total,Number Hispanic or Latino of Students who took Dual Credit classes Grade 9 Total,Number Asian of Students who took Dual Credit classes Grade 9 Total,Number Native Hawaiian or Other Pacific Islander of Students who took Dual Credit classes Grade 9 Total,Number American Indian or Alaska Native of Students who took Dual Credit classes Grade 9 Total,Number Two or More Races of Students who took Dual Credit classes Grade 9 Total,Number EL of Students who took Dual Credit classes Grade 9 Total,Number Non-EL of Students who took Dual Credit classes Grade 9 Total,Number IEP of Students who took Dual Credit classes Grade 9 Total,Number Non-IEP of Students who took Dual Credit classes Grade 9 Total,Number Low Income of Students who took Dual Credit classes Grade 9 Total,Number Non-Low Income of Students who took Dual Credit classes Grade 9 Total,Number of Students who took Dual Credit classes Grade 10 Total,Number White of Students who took Dual Credit classes Grade 10 Total,Number Black or African American of Students who took Dual Credit classes Grade 10 Total,Number Hispanic or Latino of Students who took Dual Credit classes Grade 10 Total,Number Asian of Students who took Dual Credit classes Grade 10 Total,Number Native Hawaiian or Other Pacific Islander of Students who took Dual Credit classes Grade 10 Total,Number American Indian or Alaska Native of Students who took Dual Credit classes Grade 10 Total,Number Two or More Races of Students who took Dual Credit classes Grade 10 Total,Number EL of Students who took Dual Credit classes Grade 10 Total,Number Non-EL of Students who took Dual Credit classes Grade 10 Total,Number IEP of Students who took Dual Credit classes Grade 10 Total,Number Non-IEP of Students who took Dual Credit classes Grade 10 Total,Number Low Income of Students who took Dual Credit classes Grade 10 Total,Number Non-Low Income of Students who took Dual Credit classes Grade 10 Total,Number of Students who took Dual Credit classes Grade 11 Total,Number White of Students who took Dual Credit classes Grade 11 Total,Number Black or African American of Students who took Dual Credit classes Grade 11 Total,Number Hispanic or Latino of Students who took Dual Credit classes Grade 11 Total,Number Asian of Students who took Dual Credit classes Grade 11 Total,Number Native Hawaiian or Other Pacific Islander of Students who took Dual Credit classes Grade 11 Total,Number American Indian or Alaska Native of Students who took Dual Credit classes Grade 11 Total,Number Two or More Races of Students who took Dual Credit classes Grade 11 Total,Number EL of Students who took Dual Credit classes Grade 11 Total,Number Non-EL of Students who took Dual Credit classes Grade 11 Total,Number IEP of Students who took Dual Credit classes Grade 11 Total,Number Non-IEP of Students who took Dual Credit classes Grade 11 Total,Number Low Income of Students who took Dual Credit classes Grade 11 Total,Number Non-Low Income of Students who took Dual Credit classes Grade 11 Total,Number of Students who took Dual Credit classes Grade 12 Total,Number White of Students who took Dual Credit classes Grade 12 Total,Number Black or African American of Students who took Dual Credit classes Grade 12 Total,Number Hispanic or Latino of Students who took Dual Credit classes Grade 12 Total,Number Asian of Students who took Dual Credit classes Grade 12 Total,Number Native Hawaiian or Other Pacific Islander of Students who took Dual Credit classes Grade 12 Total,Number American Indian or Alaska Native of Students who took Dual Credit classes Grade 12 Total,Number Two or More Races of Students who took Dual Credit classes Grade 12 Total,Number EL of Students who took Dual Credit classes Grade 12 Total,Number Non-EL of Students who took Dual Credit classes Grade 12 Total,Number IEP of Students who took Dual Credit classes Grade 12 Total,Number Non-IEP of Students who took Dual Credit classes Grade 12 Total,Number Low Income of Students who took Dual Credit classes Grade 12 Total,Number Non-Low Income of Students who took Dual Credit classes Grade 12 Total,Number of students who took AP Exams Grade 10,Number of students who passed AP Exams Grade 10,Number of students who took one ore more AP Exams Grade 10,Number of students who passed one ore more AP Exams Grade 10,Number of students who took AP Exams Grade 11,Number of students who passed AP Exams Grade 11,Number of students who took one ore more AP Exams Grade 11,Number of students who passed one ore more AP Exams Grade 11,Number of students who took AP Exams Grade 12,Number of students who passed AP Exams Grade 12,Number of students who took one ore more AP Exams Grade 12,Number of students who passed one ore more AP Exams Grade 12,Five Essential Survey Effective Leaders,Five Essential Survey Leaders Level,Five Essential Survey Collaborative Teachers,Five Essential Survey Collaborative Teachers Level,Five Essential Survey Involved Families,F

In [6]:
hs21 = data21.loc[data21["School Type"]=="HIGH SCHOOL"]
hs20 = data20.loc[data20["School Type"]=="HIGH SCHOOL"]
hs19 = data19.loc[data19["School Type"]=="HIGH SCHOOL"]
hs18 = data18.loc[data18["School Type"]=="HIGH SCHOOL"]

In [7]:
data21.shape

(4720, 1203)

In [8]:
hs21.shape

(648, 1203)

In [9]:
to_remove = []

for column in hs21.columns:
    null_amount = hs21[column].isna().sum()
    
    if null_amount > (len(hs21[column]) * 0.30):
        to_remove.append(column)
        

hs21_30 = hs21.drop(hs21[to_remove], axis = 1)

In [10]:
hs21_30.reset_index(inplace = True)

In [11]:
hs21_30['Avg Class Size - High School']

0      15.0
1      15.8
2      14.9
3      12.2
4      18.0
       ...
643     2.5
644     3.4
645    22.2
646     NaN
647     NaN
Name: Avg Class Size - High School, Length: 648, dtype: float64

In [12]:
final_columns = [ "RCDTS" ,
"City",
"County",
"District Size",
"Total Number of School Days",
"Student Mobility Rate",
"High School Dropout Rate - Total",
"High School Dropout Rate - Male",
"High School Dropout Rate - Female",
"High School Dropout Rate - Low Income",
"High School 4-Year Graduation Rate - Total",
"High School 4-Year Graduation Rate - Male",
"High School 4-Year Graduation Rate - Female",
"High School 4-Year Graduation Rate - White",
"High School 4-Year Graduation Rate - Low Income",
# "High School 5-Year Graduation Rate - Total",
# "High School 5-Year Graduation Rate - Male",
# "High School 5-Year Graduation Rate - Female",
# "High School 5-Year Graduation Rate - White",
# "High School 5-Year Graduation Rate - Low Income",
# "High School 6-Year Graduation Rate - Total",
# "High School 6-Year Graduation Rate - Male",
# "High School 6-Year Graduation Rate - Female",
# "High School 6-Year Graduation Rate - White",
# "High School 6-Year Graduation Rate - Low Income",
"Avg Class Size - High School",
# "Avg Class Size - All Grades",
"Teacher Retention Rate",
"Chronic Absenteeism",
"Chronic Absenteeism - Low Income",
# "% Graduates enrolled in a Postsecondary Institution within 12 months",
# "% Graduates enrolled in a Postsecondary Institution within 12 months - Public Institition",
# "% Graduates enrolled in a Postsecondary Institution within 12 months - Private Institution",
# "% Graduates enrolled in a Postsecondary Institution within 12 months - Four-year Institution",
# "Five Essential Survey Involved Families",
# "Five Essential Survey Involved Families Level",
# "Five Essential Survey Supportive Environment",
# "Five Essential Survey Supportive Environment Level", 
]

In [13]:
hs21_final = hs21_30[final_columns]
hs20_final = hs20[final_columns]
hs19_final = hs19[final_columns]
hs18_final = hs18[final_columns]

In [21]:
dataframes = [hs21_final, hs20_final, hs19_final, hs18_final]
year = 2021

for df in dataframes:
    df["Year"] = year 
    year-=1

/var/folders/8y/bjy80p890fg6hgk57b8wz5d40000gn/T/ipykernel_69004/615185454.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Year"] = year
/var/folders/8y/bjy80p890fg6hgk57b8wz5d40000gn/T/ipykernel_69004/615185454.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Year"] = year

In [15]:
hs19_final.head()

,RCDTS,City,County,District Size,Total Number of School Days,Student Mobility Rate,High School Dropout Rate - Total,High School Dropout Rate - Male,High School Dropout Rate - Female,High School Dropout Rate - Low Income,High School 4-Year Graduation Rate - Total,High School 4-Year Graduation Rate - Male,High School 4-Year Graduation Rate - Female,High School 4-Year Graduation Rate - White,High School 4-Year Graduation Rate - Low Income,Avg Class Size - High School,Teacher Retention Rate,Chronic Absenteeism,Chronic Absenteeism - Low Income,Year
0,010010010260001,Payson,Adams,MEDIUM,167.0,7.9,0.6,1.1,0.0,0.0,91.7,85.0,100.0,91.7,92.3,14.4,86.8,12.3,18.1,2019
2,010010020260001,Liberty,Adams,MEDIUM,170.0,4.1,3.0,2.1,3.8,7.0,88.0,86.4,89.3,87.8,80.0,16.9,83.9,8.6,19.4,2019
4,010010030260001,Camp Point,Adams,MEDIUM,169.0,10.4,3.7,4.2,2.9,5.6,92.3,93.9,89.5,94.0,84.2,13.6,83.3,17.8,22.7,2019
8,010010040260001,Mendon,Adams,MEDIUM,169.0,10.1,1.5,0.9,2.1,2.4,94.9,96.2,93.9,94.9,94.1,13.4,86.4,24.5,47.7,2019
11,010011720220003,Quincy,Adams,LARGE,173.0,15.4,2.4,3.1,1.8,4.0,84.7,80.3,89.3,86.0,75.6,22.6,86.4,34.0,50.6,2019

In [16]:
# for column in hs21_30.columns:
#     print(column)

In [22]:
final_data = pd.concat(dataframes, axis=0, ignore_index=True)

In [23]:
final_data

,RCDTS,City,County,District Size,Total Number of School Days,Student Mobility Rate,High School Dropout Rate - Total,High School Dropout Rate - Male,High School Dropout Rate - Female,High School Dropout Rate - Low Income,High School 4-Year Graduation Rate - Total,High School 4-Year Graduation Rate - Male,High School 4-Year Graduation Rate - Female,High School 4-Year Graduation Rate - White,High School 4-Year Graduation Rate - Low Income,Avg Class Size - High School,Teacher Retention Rate,Chronic Absenteeism,Chronic Absenteeism - Low Income,Year
0,010010010260001,Payson,Adams,MEDIUM,176.0,7.1,4.6,4.8,4.4,7.0,84.8,81.3,88.2,84.4,78.6,15.0,84.3,27.5,33.7,2021
1,010010020260001,Liberty,Adams,MEDIUM,177.0,5.9,2.2,2.9,1.2,10.3,92.9,87.5,96.2,92.7,NaN,15.8,91.3,11.0,29.6,2021
2,010010030260001,Camp Point,Adams,MEDIUM,176.0,13.1,2.7,2.8,2.6,5.5,88.1,89.2,86.4,91.2,71.4,14.9,83.3,18.8,30.7,2021
3,010010040260001,Mendon,Adams,MEDIUM,176.0,7.9,3.4,2.3,4.5,3.2,92.5,90.0,95.0,94.9,87.5,12.2,85.7,18.6,32.8,2021
4,010011720220003,Quincy,Adams,LARGE,177.0,11.3,5.5,5.4,5.6,8.2,77.9,75.2,80.3,79.6,66.7,18.0,85.5,34.5,51.3,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2597,56099207U260001,Peotone,Will,MEDIUM,175.0,2.6,0.8,1.1,0.5,1.1,92.9,93.6,92.1,92.7,80.0,16.0,75.5,8.0,14.0,2018
2598,56099209U260001,Wilmington,Will,MEDIUM,176.0,5.0,0.4,0.4,0.4,0.6,93.7,94.8,92.5,94.2,89.5,19.0,89.4,14.4,21.0,2018
2599,56099255U260001,Braidwood,Will,MEDIUM,174.0,6.2,0.8,1.2,0.5,1.9,95.8,93.8,98.2,95.1,87.2,22.0,83.8,8.3,1.3,2018
2600,56099365U260007,Bolingbrook,Will,LARGE,175.0,8.5,2.7,3.2,2.2,3.3,86.0,84.2,88.0,90.6,83.2,19.0,90.0,32.5,39.5,2018
2601,56099365U260008,Romeoville,Will,LARGE,175.0,5.0,1.6,2.1,1.0,2.0,92.6,92.9,92.2,91.3,91.1,20.0,91.3,28.5,33.9,2018

In [19]:
# for column in final_data:
#     null_data = final_data.isna().sum()
#     print(column + " :" +  )
    
final_data.isna().sum()

RCDTS                                                0
City                                                 0
County                                               0
District Size                                       27
Total Number of School Days                         18
Student Mobility Rate                                1
High School Dropout Rate - Total                     2
High School Dropout Rate - Male                      5
High School Dropout Rate - Female                   16
High School Dropout Rate - Low Income               15
High School 4-Year Graduation Rate - Total          21
High School 4-Year Graduation Rate - Male           85
High School 4-Year Graduation Rate - Female        104
High School 4-Year Graduation Rate - White         256
High School 4-Year Graduation Rate - Low Income    171
Avg Class Size - High School                        22
Teacher Retention Rate                              11
Chronic Absenteeism                                 30
Chronic Absenteeism - Low Income                    33
Year                                                 0
dtype: int64

In [24]:
final_data.to_csv("school_data.csv")